QWidget {
    font-family: "Segoe UI", Arial;
    font-size: 14px;
}
/* ================= START SCREEN ================= */
#startScreen QLabel {
    font-size: 36px;
    font-weight: bold;
    color: white;
}
#startScreen QPushButton {
    background-color: rgba(59,130,246,0.9);
    color: white;
    border-radius: 15px;
    padding: 14px 26px;
    font-size: 18px;
}
#startScreen QPushButton:hover {
    background-color: rgba(37,99,235,0.95);
}
